h1{
    text-align: center;
    font-size: 50px;
    color: black;
}
input,.btn{
    display: block;
   
}
input{
    border: 0;
    border-bottom: 1px white;
    
}
input{
    margin:10px 0;
    font-size: 20px; 
    padding-left: 10%;
    outline: none;
    margin-bottom: 60px; 
    background: transparent;
    color: white;
    border: 0;
    border-bottom: 1px solid rgb(255, 255, 255);
    text-align: center;
    
    
}
    

label{
    font-size: 18px; 
}
.titre{
    margin-bottom: 90px; 
    
}
button{
    border: 1;
    border-color: aliceblue;
    color: rgb(255, 255, 255);
    width:225px ;  
    padding: 5px 0; 
    margin-top: 10px;
    text-decoration: none;
    padding-right: 0%;
    background: transparent;
 
}
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
form{
    margin-left: 44%;
    margin-bottom: 100px; 
    color: white;
}
.border{
    width: 500px;
    height: 650px;
    background: rgba(0 ,0, 0, 0.6);
    border: 2px solid white;
    border-radius: 40px 40px 40px 40px;
    margin-left: 38.2%;
    
}
.border h2{
    margin-bottom: 50px;
    text-transform: uppercase;
    
}
.border h2{
    padding-left: 10%;
    text-align: left;

}
.border a{
    display: inline;
    padding-left: 27.5%;
}

    
